@font-face {
    font-family: 'nunito-semibold';
    src: url("../fonts/Nunito-SemiBold.ttf");
}

* {
    margin: 0;
    padding: 0;
    --blue-color: #046380;
    --purple-color: #9E6288;
    --beige-color: #F2E9D9;
    scroll-behavior: smooth;
    font-family: 'nunito-semibold';
}

@font-face {
    font-family: 'nunito-light';
    src: url("../fonts/Nunito-Light.ttf");
}

@font-face {
    font-family: 'nunito-bold';
    src: url("../fonts/Nunito-Bold.ttf");
}

body {
    position: relative;
    min-height: 94vh;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.fleche_back {
    cursor: pointer;
}

button, .btn {
    font-family: nunito-light;
    margin: 2em;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    background-color: var(--purple-color);
    border: var(--purple-color) solid 2px;
    border-radius: 2rem;
    padding: .5em 2em;
    margin-bottom: 10px;
    margin-top: 20px;
    color: white;
    cursor: pointer;
}

button.btn:hover {
    background-color: var(--blue-color);
    border: var(--blue-color) solid 2px;
}

button.btn.active {
    background-color: var(--blue-color);
    border: var(--blue-color) solid 2px;
}

button.btn:focus {
    outline: 0;
}

.the_service > .btn, #adAgenda {
    position: relative;
    left: 50%;
    transform: translate(-50%);
}


/* Style de la navbar */

#logo {
    z-index: 5;
    position: absolute;
    top: 1%;
    left: 1%;
}

.menu_btn {
    z-index: 5;
    display: none;
}

.fermer_menu {
    display: none;
}

#logo>img {
    width: 130px;
}

nav {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

nav>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    height: 100%;
    background-color: var(--blue-color);
    border-radius: 50px;
}

nav>ul>li {
    list-style: none;
    height: 100%;
    width: 100%;
}

nav>ul>li>a {
    color: white;
    font-family: 'nunito-semibold';
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

nav>ul>li:first-of-type>a:hover {
    border-radius: 2rem 0 0 2rem;
}

nav>ul>li:last-of-type>a:hover {
    border-radius: 0 2rem 2rem 0;
}

nav>ul>li>a:hover {
    background-color: var(--purple-color);
}


/* Style de l'accueil */

#accueil_section {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
}

#accueil_section>h1 {
    font-family: 'nunito-semibold';
    color: white;
    text-align: center;
    font-size: 60px;
    margin-bottom: 2%;
}

#articles,
#events, #mediatheque, #boutique, #services, #confederation, #carte {
    display: flex;
    align-items: center;
    margin-top: 30px;
    flex-direction: column;
    padding-bottom: 170px;
}

#mediatheque>div {
    width: 100%;
}

#articles article,
#events article {
    background-color: white;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);
    padding: 15px;
    border-radius: 0.3rem;
    margin: 2%;
}

#articles article>h3,
#events article>h3 {
    font-family: 'nunito-semibold';
    font-size: 1.8em;
}

#articles article>p#date,
#events article>p#date {
    font-family: 'nunito-semibold';
    opacity: 0.6;
    margin: 10px 0;
}

#articles article>img,
#events article>img {
    width: 100%;
}

#articles article>p,
#events article>p {
    font-family: 'nunito-light';
}

#articles article img {
    height: 350px;
    width: 620px;
}


/* style de la page les évènements */

#title_page {
    text-align: center;
    padding-top: 2rem;
    font-family: 'nunito-bold';
    font-size: 1.8em;
}

select {
    display: block;
    margin: auto;
    margin-top: 30px;
    background-color: var(--purple-color);
    border: var(--purple-color) solid 2px;
    border-radius: 2rem;
    padding: 10px 15px;
    color: white;
    font-family: 'nunito-semibold';
}

#template_events>#date {
    font-size: 1em;
}

#template_events>div>span {
    font-family: 'nunito-light';
}

#template_events>div:first-of-type {
    margin-top: 20px;
}

#template_events>p {
    font-size: 1.4em;
    margin-top: 20px;
}

#template_events>button {
    margin: auto;
    background-color: var(--purple-color);
    border: var(--purple-color) solid 2px;
    border-radius: 2rem;
    padding: 10px 15px;
    margin-bottom: 10px;
    margin-top: 20px;
    color: white;
}

.vid_mediatheque {
    max-width: 80%;
}


/* style page boutique */

section.buttons {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    margin: auto;
}

.articles_boutique,
.medias,
.services_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.article_boutique_container,
.mediatheque_container {
    font-family: nunito-light;
}

.article_boutique_container img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.article_boutique_container p {
    text-align: justify;
}

.article_boutique_container h2,
.mediatheque_container h2 {
    font-size: 2.3rem;
}

.article_boutique_container img,
.article_boutique_container video,
article_boutique_container audio {
    max-width: 70%;
    max-height: 20em;
}

.article_boutique_container .article_infos {
    display: flex;
}

.article_boutique_container .article_donnees,
.mediatheque_container,
.the_service {
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);
    width: auto%;
    padding: 2em;
    margin-top: 1.5em;
}

.mediatheque_container video,
.mediatheque_container audio {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}


/* style de la page La confédération */

#confederation {
    padding-bottom: 200px;
}

#confederation>img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

#confederation>h2 {
    font-family: 'nunito-semibold';
    font-size: 2em;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#confederation>p {
    font-family: 'nunito-light';
    text-align: justify;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

#confederation>#buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#confederation>div>h2 {
    font-family: 'nunito-semibold';
    font-size: 2em;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

#confederation>#content_bureaux {
    display: none;
}

#confederation>#content_bureaux>h2 {
    font-family: 'nunito-semibold';
    font-size: 2em;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

#confederation>#content_bureaux>img {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 6rem;
}

#confederation>#content_commission {
    display: none;
    justify-content: center;
}

#confederation>#content_commission>.commission {
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);
    padding: 15px;
    border-radius: 0.3rem;
}

.commission>img {
    width: 100%;
}

#confederation>#content_commission>.commission>h3 {
    font-family: 'nunito-semibold';
    text-align: center;
}

#confederation>#content_commission>.commission>span {
    font-family: 'nunito-light';
    text-align: center;
    margin: 10px;
}

#confederation>#content_commission>.commission>button {
    font-family: 'nunito-light';
}

#confederation>#content_commission>.commission>p {
    font-family: 'nunito-light';
    text-align: center;
}

#confederation>#content_conseil {
    display: none;
}

#confederation>#content_conseil>h2 {
    font-family: 'nunito-semibold';
    font-size: 2em;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

#confederation>#content_conseil>img {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 6rem;
}

#confederation>#content_federation {
    display: none;
    justify-content: center;
}

#confederation>#content_federation>.federation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);
    padding: 15px;
    border-radius: 0.3rem;
    margin-top: 4rem;
}

#confederation>#content_federation>.federation>h3 {
    font-family: 'nunito-semibold';
    text-align: center;
    margin: 10px;
}

#confederation>#content_federation>.federation>button {
    font-family: 'nunito-light';
    margin: 10px;
}

#confederation>#content_federation>.federation>p {
    font-family: 'nunito-light';
    text-align: center;
    margin: 10px;
}

#confederation>#content_IGF {
    display: none;
    justify-content: center;
}

#confederation>#content_IGF>.IGF {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);
    padding: 15px;
    border-radius: 0.3rem;
    margin-top: 4rem;
}

#confederation>#content_IGF>.IGF>h3 {
    font-family: 'nunito-semibold';
    text-align: center;
    margin: 10px;
}

#confederation>#content_IGF>.IGF>button {
    font-family: 'nunito-light';
    margin: 10px;
}

#confederation>#content_IGF>.IGF>p {
    font-family: 'nunito-light';
    text-align: center;
    margin: 10px;
}

#confederation>#contact>button {
    display: block;
    width: 20%;
    margin: auto;
    background-color: var(--purple-color);
    border: var(--purple-color) solid 2px;
    border-radius: 2rem;
    padding: 10px 15px;
    color: white;
}

#confederation>#contact>button:hover {
    background-color: var(--blue-color);
    border: var(--blue-color) solid 2px;
}

#confederation>#contact>button:focus {
    outline: 0;
}

#contact>a>#groupes {
    display: flex;
    justify-content: center;
}


/* Style du login */

#page-login,
#page-backoffice,
#page-boutique,
#page-mediatheque {
    padding-bottom: 200px;
}

.box {
    height: 400px;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 25%);
    position: relative;
    margin: auto;
    margin-top: 3%;
    border-radius: 20px;
}

form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-group {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form label {
    text-align: center;
}

form input,
form textarea {
    padding: 10px;
    border-radius: 10px;
    border: 1px var(--blue-color) solid;
}

div.error {
    background-color: #f8d7da;
    text-align: center;
    color: #721c24;
    border: 1px #721c24 solid;
    border-radius: 5px;
    padding: 10px;
}

div.success {
    background-color: #d4edda;
    text-align: center;
    color: #155724;
    border: 1px #155724 solid;
    border-radius: 5px;
    padding: 10px;
    margin: auto;
}


/* FIN Style du Login */

/* Style de la page foire aux questions */

#faq>h2{
    font-family: 'nunito-semibold';
    font-size: 2em;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#faq {
    display: flex;
    align-items: center;
    margin-top: 30px;
    flex-direction: column;
    padding-bottom: 150px;
}

#articles article,
#faq article {
    background-color: white;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);
    padding: 15px;
    border-radius: 0.3rem;
    margin: 2%;
    max-width: 75em;
}

#articles article>h3,
#faq article>h3 {
    font-family: 'nunito-semibold';
    font-size: 1.8em;
}

#articles article>p#date,
#faq article>p#date {
    font-family: 'nunito-semibold';
    opacity: 0.6;
    margin: 10px 0;
}

#articles article>p,
#events article>p {
    font-family: 'nunito-light';
}
#mail{
    width: 330px;
}
#message{
    height: 100px;
    width: 50em;
}
/* style du footer */

footer {
    box-shadow: 0px -4px 10px rgb(0 0 0 / 25%);
    display: flex;
    padding-top: 15px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: white;
}

footer>div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer>div>#logo {
    position: absolute;
    top: 2%;
    left: 8%;
}

footer>div>#logo>#logo1 {
    width: 110px;
}

footer>div>h4 {
    font-family: 'nunito-light';
}

footer>div>#logo_reseaux {
    display: flex;
    justify-content: space-evenly;
}

footer>div>div>a>#facebook {
    width: 3rem;
}

footer>div>div>a>#youtube {
    width: 4rem;
}

footer>#contact>div {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4%;
}

footer>#contact>div>a>button {
    font-family: 'nunito-semibold';
    border: var(--blue-color) solid 2px;
    border-radius: 2rem;
    padding: 8px;
    margin-bottom: 6px;
    margin-top: 6px;
    background-color: var(--blue-color);
    color: white;
}

footer>div>a>#arrow {
    width: 5rem;
}

.article_boutique_container {
    width: 50%;
    margin-top: 4em;
}

figure {
    width: 80%;
}

@media (max-width: 1240px) {

    #logo {
        left: unset;
        right: 0;

    }
    .menu_btn {
        display: block;
        position: absolute;
        top: 1%;
        left: 1%;
        cursor: pointer;
    }

    .fermer_menu {
        display: block;
        position: absolute;
        top: 4%;
        left: 4%;
        cursor: pointer;
    }

    nav {
        z-index: 5;
        background-color: var(--beige-color);
        position: fixed;
        margin-top: 0;
        height: 100vh;
        left: -100vw;
        transition: all .3s ease-in-out;
    }

    nav>ul {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 70%;
        height: 60%;
        background-color: unset;
        border-radius: unset;
    }

    nav>ul>li {
        height: unset;
        width: unset;
        list-style: none;
        background-color: var(--blue-color);
        padding: 1em 2em;
        border-radius: 24px;
    }

    nav>ul>li:hover {
        background-color: var(--purple-color);
        cursor: pointer;
    }

    nav > ul > li > a:hover {
        background-color: unset;
    }

    audio {
        width: 90%;
    }

    .buttons {
        margin: auto;
    }

    .article_boutique_container {
        margin-bottom: 4em;
    }
}

@media (max-width: 1000px) {

    #accueil_section>h1{
        font-size: 40px;
    }
    .col-5 {
        width: 70% !important;
    }

    footer {
        flex-direction: column;
    }

    .col-3 {
        width: calc(99% / 12 * 12) !important;
    }

    footer>div>#logo {
        position: initial;
    }

    #articles, #events, #mediatheque, #boutique, #services, #confederation, #carte {
        padding-bottom: 510px;
    }

    .col-8 {
        width: calc(100% - 40%) !important;
    }

    .buttons {
        width: 237px;
    }

    .buttons > .container {
        width: max-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #confederation>p {
        width: 80%;
    }
    #boutique {
        width: 100%;
    }

    h2 {
        font-size: 1.8rem !important;
    }

    .articles_boutique {
        width: 90vw;
    }
}

@media (max-width: 570px) {
    #logo>img {
        width: 100px;
    }

    #title_page {
        padding-top: 9rem;
    }

    #articles article>h3, #events article>h3, h2 {
        font-size: 1.4em;
    }

    nav>ul {
        height: 90%;
    }
    iframe {
        width: 100%;
    }

    #confederation>#buttons {
        width: max-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .article_boutique_container {
        width: 80%;
    }
}