.col-12 {
    width: calc(99% / 12 * 12)
}

.col-11 {
    width: calc(99% / 12 * 11)
}

.col-10 {
    width: calc(99% / 12 * 10)
}

.col-9 {
    width: calc(99% / 12 * 9)
}

.col-8 {
    width: calc(99% / 12 * 8)
}

.col-7 {
    width: calc(99% / 12 * 7)
}

.col-6 {
    width: calc(99% / 12 * 6)
}

.col-5 {
    width: calc(99% / 12 * 5)
}

.col-4 {
    width: calc(99% / 12 * 4)
}

.col-3 {
    width: calc(99% / 12 * 3)
}

.col-2 {
    width: calc(99% / 12 * 2)
}

.col-1 {
    width: calc(99% / 12 * 1)
}