<footer>
    <div class="col-3">
        <a id="logo" href="?page=accueil">
            <img src="public/img/logo.PNG" alt="logo du site" id="logo1">
        </a>
    </div>

    <div class="col-3" id="reseaux_sociaux">
        <h4>Nos réseaux sociaux: </h4>
        <div class="col-8" id="logo_reseaux">
            <!-- logo facebook -->
            <a href="https://www.facebook.com/francefolklore">
                <svg id="facebook" width="74" height="75" viewBox="0 0 74 75" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="74" height="74" rx="5" fill="#046380"/>
                    <path d="M51.0718 74H39.3558V45.238H29.1515V34.1757H39.3558V25.6946C38.4487 15.9598 47.7964 12.0511 52.5836 11.3136C55.6071 11.0186 60.6462 11.4365 62.7879 11.6824V21.6384H55.2291C54.0197 21.6384 52.9615 22.3759 52.5836 22.7447C51.3742 23.9247 51.0718 26.9238 51.0718 28.2758V34.1757H62.4099L60.8982 45.6068H51.0718V74Z" fill="#FFFEFE" stroke="white"/>
                </svg>
            </a>

            <!-- logo youtube -->
            <a href="https://www.youtube.com/user/FranceFolklore">
                <svg id="youtube" width="113" height="75" viewBox="0 0 113 75" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 63.2313V11.2323C0 5.83575 4.2742 1.41332 9.66813 1.24439C24.1105 0.792095 50.2894 0 56.5 0C62.7106 0 88.8895 0.792095 103.332 1.24439C108.726 1.41332 113 5.83576 113 11.2323V63.2313C113 68.6333 108.713 73.0585 103.314 73.2219C88.4399 73.6723 61.1957 74.4773 56.5 74.4773C51.8043 74.4773 24.5602 73.6723 9.68646 73.2219C4.28689 73.0585 0 68.6333 0 63.2313Z" fill="#046380"/>
                    <path d="M43.4616 51.203V21.7224L70.9872 35.6869L43.4616 51.203Z" fill="white"/>
                </svg>
            </a>


        </div>
    </div>

    <div class="col-3" id="contact">
        <h4>Nous contacter: </h4>
        <div class="col-8">
            <a href="#"><button>Par email</button></a>
            <a href="#"><button>Intranet</button></a>
        </div>
    </div>

    <!-- bouton pour revenir en haut de la page -->
    <div class="col-3">
        <a href="#">
            <svg id="arrow" width="113" height="113" viewBox="0 0 113 113" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M63.5625 87.1042C63.5625 91.0048 60.4006 94.1667 56.5 94.1667C52.5995 94.1667 49.4375 91.0048 49.4375 87.1042L49.4375 25.8959C49.4375 21.9954 52.5995 18.8334 56.5 18.8334C60.4006 18.8334 63.5625 21.9954 63.5625 25.8959L63.5625 87.1042Z" fill="#046380"/>
                <path d="M22.3646 48.2605L51.7917 18.8334C54.3921 16.2331 58.608 16.2331 61.2084 18.8334C63.8087 21.4338 63.8087 25.6497 61.2084 28.2501L31.7813 57.6772C29.181 60.2775 24.965 60.2775 22.3646 57.6772C19.7643 55.0768 19.7643 50.8608 22.3646 48.2605Z" fill="#046380"/>
                <path d="M89.4584 47.0834L61.2084 18.8334C58.608 16.2331 54.3921 16.2331 51.7917 18.8334C49.1914 21.4338 49.1914 25.6497 51.7917 28.2501L80.0417 56.5001C82.642 59.1004 86.858 59.1004 89.4584 56.5001C92.0587 53.8997 92.0587 49.6838 89.4584 47.0834Z" fill="#046380"/>
            </svg>
        </a>
    </div>


</footer>