<template id="template_mediatheque">
    <div class="mediatheque_container col-5 ">
        <div class="media_container"></div>
        <div class="article_donnees">
            <div>
                <h2></h2>
                <p></p>
            </div>

        </div>
</template>