<template id="template_boutique">
    <div class="article_boutique_container">
        <img src="" alt="">
        <div class="article_donnees">
            <div>
                <h2></h2>
                <p></p>
            </div>
            <div class="article_infos">
                <a class="btn pay-btn">Acheter (<span id="prix_boutique"></span>)</a>
            </div>
        </div>
    </div>
</template>