<template id="template_services">
    <div data-id="" class="the_service col-5">
        <div>
            <h2></h2>
            <p></p>
        </div>
        <button class="btn">Voir plus</button>
    </div>
</template>